{# templates/task/view.html.twig  #}

{% extends 'base.html.twig' %}

{% block title %}Просмотр задачи{% endblock %}

{% block body %}
    <h1>Просмотр задачи</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Заголовок</th>
                <td>{{ task.title }}</td>
            </tr>
            <tr>
                <th>Описание</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Срок выполнения</th>
                <td>{{ task.dueDate|date('d.m.Y') }}</td>
            </tr>
            <tr>
                <th>Категория</th>
                <td>{{ task.category }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tasks_list') }}" class="btn btn-primary">Вернуться к списку задач</a>
    <a href="{{ path('task_delete', {'id': task.id}) }}" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить эту задачу?')">Удалить</a>

{% endblock %}
